<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="StocksApiBaseUrl" value="http://127.0.0.1:8000" />
    <add key="StocksApiTimeoutSeconds" value="20" />
    <add key="DefaultChartRange" value="6mo" />
    <add key="DefaultChartInterval" value="1d" />
  </appSettings>
</configuration>
